/* body {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  padding-top: 150px;
  justify-content: center;
  height: 150vh;
  background-color: rgb(74, 92, 137);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.container-fluid {
  display: flex;
  width:auto;
  height:auto;
  margin: 0;
  padding:auto;
  background-size:auto;
  background-position: center;
  margin-bottom:auto;
  border-radius:auto;
  border-color: #fff;
}

.login-container {
  align-items: center;
  display: flex;
  float: left;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  padding:10%;
  border: 1px solid rgb(246, 236, 236);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(241, 241, 244);
  flex-direction: column;
  border-color: #fff;
}
.text-center {
  text-align: center;
  color: rgb(42, 3, 88);
}
.title {
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
  border-radius: 20px;
}
.input-group-text {
  min-width: min-content;
  border: #fff;
}
.form-control {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.btn-primary {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #080675;
  color: #fff;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #120847;
}
.fas{
    width: min-content;
}
.image-container {
  flex: 1;
}
.image-container img {
  max-width: 100%;
  height: auto;
}
.h1{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
} */





/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover {
  background-color: white;
  border: 1px solid;
  color: black;
} 

.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}

.row {
width: 100%;
}

.card {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
background-color:rgba(10, 9, 9, 0.7) ;
}

.card-body {
padding: 20px;
text-align: center;


}

.font-weight-bold {
font-weight: bold;
}

.py-3 {
padding-top: 1rem;
padding-bottom: 1rem;
}

.h4 {
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}

.form-group {
margin-bottom: 15px;
}

.form-control {
width: 100%;
padding: 10px;
border-radius: 3px;
border: 1px solid #0f0d0d;
}

.btn1 {
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 3px;
cursor: pointer;
}

.mb-3 {
margin-bottom: 1rem;
}

.pb-lg-2 {
padding-bottom: 0.5rem;
}

.animated-gif {
max-width: 100%;
height: auto;
width: 500%;
height: auto;
border-radius: 30px;

}

.card1
{
padding-top: 50px;
}


.error{
  color: rgb(146, 19, 19);
  font-size:medium;
} */




.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  /* height: 100vh; */
  padding: 20px;
  padding-top: 100px;
  /* background: rgba(4, 40, 68, 0.85);
  background-size: cover; */
}
.error{
  color: rgb(146, 19, 19);
  font-size: small;
}
body
{
  background: rgba(167, 172, 175, 0.85);
  background-size: cover;
  height: 100vh;
  weight:100vh;
}


.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: rgba(14, 13, 13, 0.3);
  /* opacity: 0.5; */
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.login.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok button {
  background-color: #8bc34a;
}
.login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.login input + i.fa{
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}

.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196F3;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  color: #0f4479;
  text-decoration: none;
}
.login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196F3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.login button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #2196F3;
}
.login:not(.loading) button:focus {
  border-bottom-width: 4px;
}

.create-account span {
  cursor: pointer;
  color: rgb(11, 15, 12);
}
.create-account{
  color: #2196F3;

}
.create-account:hover{
  cursor: pointer;
  color: rgb(22, 139, 67);
}
